
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/barlow-v5-latin-900.woff2') format('woff2'), 
    url('../fonts/barlow-v5-latin-900.woff') format('woff');
}


@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow',Arial,sans-serif;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
img{
    vertical-align: middle;
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/*header*/

.header{
    margin-bottom: 44px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-img {
    width: 236px;
    height: 26px;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-left: 33px;
    
}

.header__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}

/* hero */


.hero__container {
    background-image: url("./../images/Bitmap.jpg");background-repeat: no-repeat;
    background-position: calc(50%) center;
    margin-bottom: 167px;
}

.hero__box{
    padding: 117px 0 116px 86px;
}

.hero__heading {
    font-family: 'Fraunces',Arial,sans-serif ;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    width: 493px;
    height: 145px;
    margin-bottom: 32px;
    color: #FEFCF7;
}

.hero__text {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    width: 445px;
    height: 78px;
    margin-bottom: 56px;
    color: #FEFCF7;
    opacity: 0.8;
}

.button {
    font-family: 'Fraunces',Arial,sans-serif ;
    margin: 0;
    width: 217px;
    height: 56px;
    padding: 15px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #0E8784;
    border-radius: 6px;
    color: #FEFCF7;
}

/* collection  */
.collection{
    margin-bottom: 201px;
}

.collection__container {
    padding-top: 142px;
    background-image: url("./../images/orqa-fon.png");
    background-repeat: no-repeat;
    background-position:top center ;
    
}
.collection__list {
    
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}
.collection__item {
    text-align: center;
    width: 255px;
    margin: 0 15px;
}
.collection__img {
    width: 255px;
    height: 193px;
    margin-bottom: 58px;
}
.collection__heading {
    
    font-family: 'Fraunces',Arial,sans-serif ;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 28px;
}
.collection__text {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* choose */

.choose__container {
    padding-top: 100px;
    /* height: 577px; */
    background: #2C343E;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 351px;
}
.choose__heading {
    margin: 0;
    font-family: 'Fraunces',Arial,sans-serif ;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
    
}
.choose__text {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    width: 540px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 86px;
    
}
.choose__list {
    display: flex;
    justify-content: center;
    
}
.choose__item {
    padding-top: 72px;
    width: 350px;
    height: 382px;
    background: #0E8784;
    border-radius: 8px;
    margin-bottom: -151px;
}
.choose__item +.choose__item{
    margin-left: 30px;
}
.choose__item--img {
    margin-bottom: 56px;
    width: 71px;
    height: 72px;
}
.choose__item--heading {
    margin: 0;
    font-family: 'Fraunces',Arial,sans-serif ;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    margin-bottom: 24px;
}
.choose__item--text {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    width: 255px;
    height: 78px;
    margin-left: auto;
    margin-right: auto; 
}

/* progres */


.progres__container {
    padding-left: 105px;
    margin-bottom: 200px; 
}
.progres__heading {
    margin: 0;
    margin-bottom: 80px;
    font-family: 'Fraunces',Arial,sans-serif ;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.progres__list {
    display: flex;
     margin-bottom: 64px; 
}
.progres__item {
    width: 380px;
}
.progres__shapes {
    display: flex;
    align-items: center;
    margin-bottom: 67px;
}
.progres__cricle {
    display: inline-block;
    width: 31px;
    height: 31px;
    background: #FEFCF7;
    border: 2px solid #0E8784;
    border-radius: 50%;
}
.progres__line {
    border: 2px solid #FDD6BA;
    display: block;
    flex-grow: 1;
}
.progres__namber {
    font-family: Fraunces ;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 38px;
    
}
.progres__list--heading {
    max-width: 255px;
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Fraunces',Arial,sans-serif ;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    
}
.progres__list--text {
    width: 285px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

/* footer */

.footer-container {
    padding-left: 105px;
    padding-right: 105px;
    background-color: #2C343E;
    display: flex;
    align-items: center;
    height: 120px;
}

.logo-link {
    margin-right: 103px;
}

.logo-img {
    width: 236px;
    height: 26px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 283px;
    margin-right: 369px;
}

.footer-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888F;
}

.footer-prog {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.facebook-img {
    width: 24px;
    height: 24px;
}

.tweter-img {
    width: 24px;
    height: 20px;
}

.instagram-img {
    width: 24px;
    height: 24px;
}